@model Intranet.Models.Data.VOLADOS_SEGMENTO

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/LayoutAside.cshtml";
}


@{
    if (ViewBag.Error != null)
    {
        <div class="alert alert-danger"> <strong>¡Error! </strong> @ViewBag.Error</div>
    }

}


<div class="container-fluid py-4">
    <h1 class="admin-big-title">NUEVO</h1>
    <span class="gn-orange-line mb-4"></span>

    <div class="card admin-card">
        <div class="p-3">


            @using (Html.BeginForm())
            {

            <div class="form-horizontal">
                <h4>OCUPACIÓN SEGMENTO</h4>
                <hr>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.IdVoladoRuta, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("IdVoladoRuta", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdVoladoRuta, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Origen, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Origen, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Origen, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.Destino, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Destino, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Destino, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Tramo</label>
                    <input type="radio" name="Tramo" value="1" /> Ida
                    <input type="radio" name="Tramo" value="2" /> Retorno
                </div>
               




                <div class="form-group">
                    <div class="pt-3">
                        <button type="submit" class="gn-btn-orange">Guardar</button>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="p-3 pt-0">
            @Html.ActionLink("←Regresar", "Index")
        </div>
    </div>
</div>





