@model Intranet.Models.Data.VOLADOS_SEGMENTO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/LayoutAside.cshtml";
}




<div class="container-fluid py-4">
    <h1 class="admin-big-title">ELIMINAR</h1>
    <span class="gn-orange-line mb-4"></span>

    <div class="card admin-card">
        <div class="p-3">


            @using (Html.BeginForm())
            {
                <h4>VOLADOS SEGMENTO</h4>
                <hr />

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.VOLADOS_RUTA.Descripcion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.VOLADOS_RUTA.Descripcion)
                    </dd>

                    @*<dt>
                            @Html.DisplayNameFor(model => model.Mostrar)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Mostrar)
                        </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.Origen)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Origen)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Destino)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Destino)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tramo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tramo)
                    </dd>
                </dl>
                <div class="form-group">
                    <div class="pt-3">
                        <button type="submit" class="gn-btn-orange">Eliminar</button>
                    </div>
                </div>
            }
        </div>
        <div class="p-3 pt-0">
            @Html.ActionLink("←Regresar", "Index")
        </div>
    </div>
</div>







